body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.wrapperInput {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
}

.wrapperInput .inputNya {
    display: block;
    width: 300px;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #4a90e2;
    transition: all 0.2s ease;
}

.wrapperInput input:focus {
    outline: 0;
    border-color: #F77A52;
}

.wrapperInput .error {
    position: absolute;
    transform: translateY(-60px);
    margin-left: 75px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: red;
}

.btn {
    display: block;
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;
    padding: 15px 30px;
    background: #4a90e2;
    border-width: 0;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}