h1 {
    text-align: center;
}
p {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 20px;
    color: #4a90e2;
}

.wrapperBtn {
    display: flex;
    justify-content: center;
}